@page "/about"
@using Microsoft.Extensions.Options
@using Schedule.Core.Data.Models.Config
@inject IOptions<Contacts> OptionsContacts
@inject IOptions<Core.Data.Models.Config.About> OptionsAbout

<PageTitle>О проекте - @_projectName</PageTitle>
<HeadContent>
    <link rel="stylesheet" href="/css/about.css" >
    <link rel="stylesheet" href="/css/common.css" >
</HeadContent>

<MudContainer>
    <MudStack Spacing="16">
        <MudText Typo="Typo.h1">
            О проекте
        </MudText>
        <div class="about-block">
            <MudText Typo="Typo.h3">
                Кто и зачем?
            </MudText>
            <MudText Typo="Typo.body1">
                Проект @_projectName создавался как курсовая работа, студентом второго курса местного техникума,<br/> при поддержке студии веб-дизайна <MudLink Href="@_linkToStudy" Class="link">BGIT the best</MudLink>
            </MudText>
        </div>
        <div class="about-block">
            <MudText Typo="Typo.h3">
                Откуда берется расписание?
            </MudText>
            <MudText Typo="Typo.body1">
                Вся информация бралась с сайта белокалитвенской газеты <MudLink Href="https://perekrestokinfo.ru" Class="link">перекресток</MudLink>, за актуальность информации отвечают так же они
            </MudText>
        </div>
        <div class="contacts-block">
            <MudText Typo="Typo.h3">
                Contacts
            </MudText>
            <MudStack>
                <MudText Typo="Typo.body1">
                    По старинке можно пообщаться тут <MudLink Href="@_contactMail" Class="link">@_contactMail</MudLink>
                </MudText>
            </MudStack>
            <MudStack Spacing="1" Row="true">
                <MudText Typo="Typo.body1">
                    Или можно в соц.сетях тут
                </MudText>
                <MudStack Spacing="10" Row="true">
                    <MudTooltip Text="Наш телеграм" Arrow="true" Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Custom.Brands.Telegram" Href="@_telegramContact"/>
                    </MudTooltip>
                    <MudTooltip Text="GitHub проекта" Arrow="true" Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="@_gitHubContact"/>
                    </MudTooltip>
                    <MudTooltip Text="Твитор (VPN use)" Arrow="true" Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Href="@_twitterContact"/>
                    </MudTooltip>
                </MudStack>
            </MudStack>
        </div>
    </MudStack>
</MudContainer>

@code {
    string _linkToStudy;
    string _contactMail;
    string _telegramContact;
    string _gitHubContact;
    string _twitterContact;
    string _projectName;

    protected override void OnInitialized()
    {
        SetFields();
    }

    private void SetFields()
    {
        _linkToStudy = OptionsAbout.Value.StudyHome;
        _projectName = OptionsAbout.Value.ProjectName;
        _contactMail = OptionsContacts.Value.Mail;
        _gitHubContact = OptionsContacts.Value.GitHub;
        _twitterContact = OptionsContacts.Value.Twitter;
        _telegramContact = OptionsContacts.Value.Telegram;
    }
}